<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder</h1>
    <p>Your appointment titled <%= @appointment.title %> will start in <%= @reminder.minutes_before_appointment %> minutes.</p>
  </body>
</html>
